.campaign-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.campaign-card {
  background-color: #f0f8ff;  /* Light blue background */
  border: 2px solid #007BFF;  /* Blue border */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.campaign-card:hover {
  transform: scale(1.05);
  border-color: #0056b3;  /* Darker blue on hover */
}

.campaign-card h2 {
  font-size: 1.5em;
  color: #fff;  /* White text for the header */
  background-color: #007BFF;  /* Blue background for the header */
  margin: 0;  /* No margin */
  padding: 10px;  /* Padding inside the header */
}

.campaign-details {
  text-align: left;
  padding: 20px;
}

.campaign-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.campaign-details p {
  /* Ensure text doesn't overflow and get hidden */
  white-space: nowrap;        /* Prevent text from wrapping */
  overflow: hidden;           /* Hide any overflow */
  text-overflow: ellipsis;    /* Add ellipsis if text overflows */
  max-width: 100%;            /* Make sure it fits within the available space */
}

.campaign-details p span {
  display: inline-block;
  width: 100%;                /* Force the span to fill the container width */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


/* Progress Bar Styles */
.progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  margin-top: 20px;
}

.progress-bar {
  height: 100%;
  background-color: #007BFF; /* Blue color for the progress */
  border-radius: 5px;
}
