/* src/components/Home.css */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eaeaea;
  }
  
  .home-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .home-container p {
    font-size: 1.2rem;
  }
  